.course {
  margin: 10px 0;
  padding: 4px;
  border-bottom: 1px solid #cccccc;
}

.course__credit {
  float: right;
}

.course__title {
  margin-bottom: 10px;
  font-size: 1.3em;
}

.course__prereq {
  margin-bottom: 5px;
}


