.section {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
}

.section__info {
  margin: 0 16px;
}

.section__addBtn {
  display: flex;
  align-items: center;
}

.section__crn {
  padding-left: 18px;
}