/** {
  box-sizing: border-box;
}
*/
html, body {
  margin-top: 10px;
  color: #5C5C5C;
  font-family: Arial, Helvetica, sans-serif;
}

.homeLabel {
  font-size: 2em;
  margin-right: 15px;
}

.header {
  margin-bottom: 20px;
}

/*
#root {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left, .right {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  height: 100vh;
}

.left {
  flex-grow: 10;
}

.right {
  flex-grow: 6;
}
*/
