* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #5C5C5C;
  font-family: Arial, Helvetica, sans-serif;
}

.homeLabel {
  font-size: 2em;
  margin: 0 8px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 8px 0;
  border-bottom: 1px solid #bbb;
}

#term-header {
  font-size: 2.1em;
  margin-left: 2px;
  color: rgb(63, 63, 63);
}

#error {
  color: rgb(182, 59, 59);
  margin-left: 2px;
  font-size: 1.1em;
}

.hidden {
  display: none !important;
}

.col-wrap {
  height: 100vh;
  padding: 8px;
}

td.fc-axis {
  font-weight: 300;
}
.fc-widget-content {
  background: white;
}

